html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
}

header.header,
main {
	padding: 40px 20px;
	max-width: 1440px;
	margin: 0 auto;
}

.demo {
	border: 2px solid #33a;
	background-color: #33a;
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
}